@font-face {
  font-family: 'Larsseit';
  src: url('../fonts/9215-webfont.woff2') format('woff2'), url('../fonts/9215-webfont.woff') format('woff'), url('../fonts/9215.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html {
  position: relative;
  font-size: 10px;
}
*,
::after,
::before {
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
ul,
body,
html {
  margin: 0;
}
ul {
  padding: 0;
  list-style-position: inside;
}
body {
  background: url(../images/Component.png) top right no-repeat;
  font-family: 'Larsseit';
  font-size: 2.4rem;
}
@media (max-width:1199px) {
  body {
    background-size: 80%;
  }
}
.service__item--L--three {
  background: url("../images/joanna-kosinska-340748.png") center no-repeat;
  background-size: cover;
}
.header__inner {
  position: relative;
  z-index: 1000;
  margin-top: 3.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width:767px) {
  .header__inner {
    display: none;
  }
}
.header__inner--logo {
  font-size: 2.4rem;
  color: #62d0df;
  letter-spacing: -0.035em;
  font-weight: normal;
  line-height: 2.7rem;
}
.header__inner--nav {
  font-size: 1.4rem;
}
.header__inner--nav a {
  outline-color: #22356f;
  text-decoration: none;
  color: #22356f;
  margin-right: 2rem;
  line-height: 1.6rem;
  padding-bottom: .7rem;
}
.header__inner--nav a:last-child {
  margin-right: 0;
}
.header__inner--nav a:hover {
  border-bottom: 1px solid #22356f;
}
.footer__inner {
  display: flex;
  justify-content: center;
}
@media (max-width:1199px) {
  .footer__inner {
    justify-content: center;
    padding-bottom: 2rem;
  }
}
@media (max-width:991px), (max-width:1199px) {
  .footer__inner {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}
@media (max-width:991px) {
  .footer__inner {
    align-items: start;
  }
}
@media (max-width:568px) {
  .footer__inner {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.footer__inner-content div + div {
  margin-left: 8.7rem;
}
@media (max-width:767px) {
  .footer__inner-content div + div {
    margin-left: 0;
  }
}
.footer__inner-content {
  display: flex;
  max-width: 87rem;
  width: 100%;
  padding-top: 9.8rem;
  padding-left: 6.8rem;
  padding-bottom: 3rem;
}
@media (max-width:767px) {
  .footer__inner-content {
    flex-direction: column;
    padding-top: 5rem;
  }
}
@media (max-width:568px) {
  .footer__inner-content {
    padding-top: 3rem;
  }
}
.footer__inner-content--title {
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: -0.006em;
  font-weight: 700;
  color: #22356f;
  text-transform: uppercase;
  margin-bottom: 5.4rem;
}
@media (max-width:767px) {
  .footer__inner-content--title {
    line-height: 1.7rem;
  }
}
@media (max-width:568px) {
  .footer__inner-content--title {
    margin-bottom: 3rem;
  }
}
.footer__inner-content--text {
  font-size: 1.4rem;
  line-height: 2.3rem;
  letter-spacing: -0.006em;
  color: rgba(34, 53, 111, 0.5);
}
.footer__inner-content--text--address {
  margin-bottom: 4.3rem;
}
.footer__inner-content--text--email a {
  text-decoration: none;
  color: #62d0df;
}
.footer__inner-content--text--phone a {
  text-decoration: none;
  color: rgba(34, 53, 111, 0.5);
}
@media (max-width:1199px) {
  .footer__inner-content {
    justify-content: center;
    padding-left: 0;
  }
}
.footer__inner-content_item {
  display: flex;
  flex-direction: column;
  max-width: 17.8rem;
}
@media (max-width:991px) {
  .footer__inner-content_item {
    margin-bottom: 2rem;
  }
  .footer__inner-content_item:last-child {
    margin-bottom: 0;
  }
}
@media (max-width:568px) {
  .footer__inner-content_item {
    flex-direction: column;
  }
}
.footer__inner-photo img {
  display: block;
  object-fit: cover;
  object-position: 50% 50%;
  width: 525px;
  height: 100%;
}
@media (max-width:1199px) {
  .footer__inner-photo {
    display: none;
  }
}
.footer__after-all {
  display: flex;
  background-color: #62d0df;
  height: 8rem;
}
.footer__after-all--copy {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  line-height: 1.1rem;
  letter-spacing: -0.006em;
  color: #ffffff;
  margin: auto 19rem;
}
@media (max-width:1199px) {
  .footer__after-all--copy {
    margin: auto;
  }
}
.footer__after-all--copyright {
  margin-right: .7rem;
}
.footer__after-all--copyright .far {
  color: #ffffff;
  font-size: 11px;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-right: 2rem;
  padding-left: 2rem;
}
.container-wide {
  max-width: 130rem;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-right: auto;
  margin-left: auto;
}
.intro {
  margin-top: 16.1rem;
  margin-bottom: 8.1rem;
}
@media (max-width:1199px) {
  .intro {
    padding-right: 5rem;
  }
}
@media (max-width:767px) {
  .intro {
    margin-top: 10rem;
  }
}
@media (max-width:568px) {
  .intro {
    margin-top: 6rem;
  }
}
.intro__inner {
  max-width: 46.9rem;
}
.intro__title {
  font-size: 2.4rem;
  color: #62d0df;
  letter-spacing: -0.035em;
  line-height: 2.7rem;
  margin-bottom: 5rem;
}
.intro__subtitle {
  font-size: 4.8rem;
  letter-spacing: -0.035em;
  line-height: 5.344rem;
  color: #22356f;
  margin-bottom: 7.2rem;
}
@media (max-width:1199px) {
  .intro__subtitle {
    font-size: 3rem;
  }
}
@media (max-width:568px) {
  .intro__subtitle {
    font-size: 2rem;
    margin-bottom: 4rem;
  }
}
.intro__text {
  line-height: 4.219rem;
  color: #22356f;
  font-size: 2.4rem;
  margin-bottom: 6.3rem;
}
@media (max-width:568px) {
  .intro__text {
    font-size: 1.7rem;
  }
}
.intro__buttons {
  display: flex;
}
.achievment {
  background-color: #62d0df;
  margin-bottom: 15rem;
}
@media (max-width:991px) {
  .achievment {
    margin-bottom: 9rem;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
}
.achievment__inner {
  display: flex;
  justify-content: center;
}
@media (max-width:991px) {
  .achievment__inner {
    flex-direction: column;
  }
}
.achievment__content {
  padding: 15.1rem 18.1rem 3rem 17.8rem;
  color: #ffffff;
}
@media (max-width: 1240px) {
  .achievment__content {
    padding-top: 17rem;
    padding-right: 9rem;
  }
}
@media (max-width:1199px) {
  .achievment__content {
    padding-top: 6rem;
    padding-right: 5rem;
  }
}
@media (max-width:991px) {
  .achievment__content {
    color: #ffffff;
    padding-left: 8.9rem;
    padding-right: 8.9rem;
    padding-bottom: 4rem;
  }
}
@media (max-width:767px) {
  .achievment__content {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (max-width:991px) {
  .achievment__photo {
    width: 100%;
  }
}
.achievment__photo img {
  display: block;
  object-fit: cover;
  object-position: 0% 50%;
  height: 100%;
  max-width: 525px;
}
@media (max-width:991px) {
  .achievment__photo img {
    width: 100%;
    max-width: initial;
  }
}
@media (max-width:991px) {
  .achievment__photo {
    order: -1;
  }
}
.achievment__title {
  font-weight: 700;
  font-size: 3.6rem;
  letter-spacing: -0.006em;
  line-height: 2.7rem;
  color: #ffffff;
  margin-bottom: 7.5rem;
}
@media (max-width:1199px), (max-width: 1240px) {
  .achievment__title {
    font-size: 2.9rem;
    margin-bottom: 4rem;
  }
}
@media (max-width:991px) {
  .achievment__title {
    color: #ffffff;
  }
}
@media (max-width:568px) {
  .achievment__title {
    font-size: 2.3rem;
    line-height: 1.9rem;
  }
}
.achievment__text {
  max-width: 54.5rem;
  color: #ffffff;
}
@media (max-width:991px) {
  .achievment__text {
    color: #ffffff;
  }
}
.achievment__text--big_text {
  font-size: 2.4rem;
  line-height: 3.516rem;
}
@media (max-width:1199px) {
  .achievment__text--big_text {
    font-size: 3rem;
  }
}
@media (max-width:568px) {
  .achievment__text--big_text {
    font-size: 1.8rem;
    line-height: 1.9rem;
  }
}
.achievment__text--small_text {
  font-size: 1.8rem;
  line-height: 2.784rem;
  font-weight: 300;
}
@media (max-width:1199px) {
  .achievment__text--small_text {
    font-size: 2rem;
  }
}
@media (max-width:568px) {
  .achievment__text--small_text {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }
}
@media (max-width:991px) {
  .about {
    padding-top: 4rem;
    padding-bottom: 2rem;
    margin-bottom: 5rem;
  }
}
@media (max-width:991px) and (max-width:568px) {
  .about {
    padding-bottom: 3rem;
  }
}
.about__inner {
  display: flex;
  margin-bottom: 7.6rem;
}
@media (max-width:991px) {
  .about__inner {
    flex-direction: column;
    margin-bottom: 0;
    padding-left: 7rem;
    padding-right: 7rem;
  }
}
@media (max-width:767px) {
  .about__inner {
    margin: 0 auto;
  }
}
@media (max-width:568px) {
  .about__inner {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
.about__text {
  align-self: center;
  width: 592px;
  font-size: 2.4rem;
  line-height: 3.4rem;
  letter-spacing: 0.005em;
  color: #22356f;
}
@media (max-width:991px) {
  .about__text {
    width: auto;
  }
}
@media (max-width:568px) {
  .about__text {
    font-size: 1.7rem;
    line-height: 2rem;
  }
}
.about__title {
  margin-right: 22.5rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #22356f;
}
@media (max-width:991px) {
  .about__title {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 700;
    margin-right: auto;
  }
}
@media (max-width:568px) {
  .about__title {
    font-size: 1.7rem;
  }
}
.service__title {
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: 0.06em;
  color: rgba(34, 53, 111, 0.5);
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}
@media (max-width:568px) {
  .service__title {
    font-size: 1.2rem;
    line-height: 1.3rem;
  }
}
.services__items {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 12rem;
}
.services__items--large {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2.2rem;
  width: 100%;
}
.service__item--title ul li::marker {
  color: #E9B730;
}
.service__item--title {
  margin-left: auto;
  margin-right: auto;
}
.service__item--title ul li span {
  position: relative;
  margin-left: -1.7rem;
}
.service__item--title ul li.without_marker::marker {
  font-size: 0;
}
.service__item--title ul li.without_marker {
  padding-left: 4.5rem;
}
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.service__item {
  display: flex;
  position: relative;
  flex-grow: 1;
  width: 36rem;
  padding-top: 9.5rem;
  height: 0;
  padding-bottom: 26.5rem;
}
@media (max-width:991px) {
  .service__item {
    text-align: center;
    padding-top: 15rem;
  }
}
.service__item--L {
  display: flex;
  position: relative;
  padding-top: 12.6rem;
  width: 48rem;
  flex-grow: 1;
  height: 0;
  padding-bottom: 35.4rem;
}
@media (max-width:767px) {
  .service__item--L {
    text-align: center;
  }
}
.service__item--L--one {
  background-color: #22356f;
}
.service__item--L--two {
  background-color: #0052c1;
}
.service__item--L--four {
  background-color: #62d0df;
}
.service__item--L--five {
  background-color: #dee1ff;
}
.service__item--L--six {
  background-color: #8f00ff;
}
.service__item--L:before {
  display: block;
  margin: auto;
  content: "";
  position: absolute;
  z-index: 1;
  width: 75%;
  height: .5px;
  left: 0;
  right: 0;
  top: 9.6rem;
  background-color: #ffffff;
  border-radius: 50%;
  text-align: center;
}
@media (max-width:991px) {
  .service__item--L {
    width: 50%;
  }
}
@media (max-width:767px) {
  .service__item--L {
    width: 100%;
  }
}
.service__item--one {
  background-color: #ffe2de;
}
.service__item--two {
  background-color: #c4e769;
}
.service__item--three {
  background-color: #62d0df;
}
.service__item--four {
  background-color: #0052c1;
}
.service__item--title {
  position: relative;
  z-index: 1;
  font-size: 3.2rem;
  line-height: 3.4rem;
  letter-spacing: -0.006em;
  font-weight: 400;
  color: #ffffff;
}
@media (max-width:568px) {
  .service__item--title {
    font-size: 2.4rem;
  }
}
.service__item--L--title {
  font-size: 3.2rem;
  line-height: 3.4rem;
  letter-spacing: -0.006em;
  font-weight: 400;
  color: #ffffff;
}
.service__item--L--title:before {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  left: 7.2rem;
  top: 14.3rem;
  background-color: #e9b730;
  border-radius: 50%;
}
@media (max-width:767px) {
  .service__item--L--title:before {
    left: 10rem;
  }
}
@media (max-width:568px) {
  .service__item--L--title {
    font-size: 2.4rem;
  }
}
.service__item:before {
  display: block;
  margin: auto;
  content: "";
  position: absolute;
  z-index: 1;
  width: 75%;
  height: .5px;
  left: 0;
  right: 0;
  top: 7.2rem;
  background-color: #ffffff;
  border-radius: 50%;
  text-align: center;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 4rem;
}
@media (max-width: 1240px) {
  .skills {
    margin-bottom: 10rem;
  }
}
@media (max-width:991px) {
  .skills {
    margin-bottom: 5rem;
  }
}
.skill__item {
  width: 33.33333%;
  max-width: 48rem;
  padding: 5.5rem 10.7rem 3.7rem 10.5rem;
}
@media (max-width:1199px) {
  .skill__item {
    padding: 5.5rem 7.2rem 3.7rem 7rem;
  }
}
@media (max-width:991px) {
  .skill__item {
    width: 50%;
    padding: 4.4rem 7rem 4rem 7rem;
  }
}
@media (max-width:568px) {
  .skill__item {
    width: 100%;
    padding: 2.4rem 5rem 2rem 5rem;
  }
}
.skill__item--title {
  font-size: 2.8rem;
  line-height: 3.281rem;
  letter-spacing: -0.03em;
  color: #22356f;
  margin-bottom: 2.8rem;
}
.skill__item--text {
  font-size: 1.6rem;
  line-height: 2.5rem;
  letter-spacing: -0.03em;
  color: rgba(34, 53, 111, 0.5);
}
.also__inner {
  display: flex;
  justify-content: center;
}
@media (max-width:991px) {
  .also__inner {
    flex-direction: column;
    align-items: center;
  }
}
.also__inner-photo {
  margin-right: 10.6rem;
}
@media (max-width:991px) {
  .also__inner-photo {
    width: 100%;
    margin-right: 0;
  }
}
.also__inner-photo img {
  display: block;
  max-width: 480px;
  object-fit: cover;
  height: 100%;
  object-position: 55% 50%;
}
@media (max-width:991px) {
  .also__inner-photo img {
    width: 100%;
    max-width: initial;
  }
}
.also__inner-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 10.3rem;
  padding-bottom: 4.2rem;
  max-width: 920px;
  width: 100%;
}
@media (max-width:1199px) {
  .also__inner-content {
    padding-right: 7rem;
  }
}
@media (max-width:991px) {
  .also__inner-content {
    padding-left: 3rem;
  }
}
@media (max-width:568px) {
  .also__inner-content {
    padding-right: 3rem;
  }
}
.also__inner-content--title {
  font-size: 1.6rem;
  line-height: 1.2rem;
  letter-spacing: 0.06em;
  color: #22356f;
  margin-bottom: 22.5rem;
}
@media (max-width:991px) {
  .also__inner-content--title {
    margin-bottom: 7rem;
  }
}
.also__inner-content--text {
  font-size: 3.6rem;
  line-height: 5.3rem;
  letter-spacing: -0.01em;
  max-width: 67.6rem;
  color: #22356f;
}
.also__inner-content--text--word {
  color: #62d0df;
}
@media (max-width:568px) {
  .also__inner-content--text {
    font-size: 2.4rem;
  }
}
.btn {
  letter-spacing: 0.1em;
  font-size: .66em;
  min-width: 15rem;
  border: none;
  background: none;
  font-family: inherit;
  color: #fab63e;
  padding: 1.1rem 3rem 1.1rem;
  outline-color: #22356f;
  cursor: pointer;
  margin-left: -3rem;
}
@media (max-width:568px) {
  .btn {
    padding: 1rem 1rem 1.1rem;
    min-width: 7rem;
    height: auto;
    font-size: .55em;
    margin-left: 0;
  }
}
.btn:hover {
  background-color: #fab63e;
  color: #ffffff;
}
.btn--lightblue {
  color: #62d0df;
  margin-left: -3rem;
  display: flex;
  align-self: flex-start;
}
@media (max-width:568px) {
  .btn--lightblue {
    margin-left: -1rem;
  }
}
.btn--ml {
  display: flex;
  align-self: flex-start;
  margin-left: -3rem;
  margin-top: 15.2rem;
}
@media (max-width:568px) {
  .btn--ml {
    margin-left: -1rem;
  }
}
@media (max-width:991px) {
  .btn--ml {
    margin-top: 6rem;
  }
}
.btn-primary {
  min-width: 15rem;
  height: 5rem;
  font-size: 14px;
  color: #ffffff;
  font-family: inherit;
  background-color: #62d0df;
  border: none;
  border-radius: 5rem;
  text-transform: uppercase;
  outline-color: #22356f;
  cursor: pointer;
}
@media (max-width:991px) {
  .btn-primary {
    min-width: 13.5rem;
    height: 4.3rem;
  }
}
@media (max-width:767px) {
  .btn-primary {
    min-width: 12rem;
    height: 3.5rem;
  }
}
@media (max-width:568px) {
  .btn-primary {
    width: 100%;
  }
}
.btn-primary:hover {
  opacity: .8;
}
.contacts__inner {
  display: flex;
  justify-content: center;
}
@media (max-width:991px) {
  .contacts__inner {
    flex-direction: column;
  }
}
.contacts {
  background-color: #22356f;
}
.contacts__inner-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 96rem;
  padding: 10.3rem 0 2rem 18rem;
}
@media (max-width: 1240px) {
  .contacts__inner-content {
    padding: 7rem 8rem 2rem 6rem;
  }
}
@media (max-width:1199px) {
  .contacts__inner-content {
    padding-left: 8rem;
  }
}
@media (max-width:991px) {
  .contacts__inner-content {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
}
@media (max-width:568px) {
  .contacts__inner-content {
    padding-left: 5rem;
    padding-right: 3rem;
  }
}
.contacts__inner-content--title {
  font-size: 1.6rem;
  line-height: 1.2rem;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 23rem;
}
@media (max-width:1199px) {
  .contacts__inner-content--title {
    margin-bottom: 10rem;
  }
}
@media (max-width:991px) {
  .contacts__inner-content--title {
    margin-bottom: 4rem;
  }
}
.contacts__inner-content--subtitle {
  max-width: 57.9rem;
  font-size: 6.4rem;
  line-height: 9.4rem;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 5rem;
}
@media (max-width: 1240px) {
  .contacts__inner-content--subtitle {
    font-size: 4rem;
  }
}
@media (max-width:568px) {
  .contacts__inner-content--subtitle {
    font-size: 2.9rem;
    line-height: 4rem;
  }
}
.contacts__inner-content--text {
  font-size: 3.6rem;
  line-height: 5.3rem;
  letter-spacing: -0.005em;
  max-width: 57.9rem;
  color: #ffffff;
  margin-bottom: 7.5rem;
}
@media (max-width: 1240px) {
  .contacts__inner-content--text {
    font-size: 2.3rem;
  }
}
@media (max-width:568px) {
  .contacts__inner-content--text {
    margin-bottom: 3rem;
    font-size: 2rem;
    line-height: 3rem;
  }
}
.contacts__inner-photo img {
  display: block;
  object-fit: cover;
  object-position: 0% 50%;
  height: 100%;
}
@media (max-width:991px) {
  .contacts__inner-photo {
    display: none;
  }
}
.header__mobile {
  display: flex;
  z-index: 99;
  position: fixed;
  width: 80%;
  top: 2rem;
  right: 2rem;
  transform: translateY(-500px);
  flex-direction: column;
  align-items: flex-start;
  padding: 5rem;
  border: 1px solid rgba(34, 53, 111, 0.2);
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 1px 1px 7px #22356f;
}
.header__mobile--appears {
  transform: translateY(0);
}
.header__mobile--logo {
  font-size: 2.4rem;
  color: #62d0df;
  letter-spacing: -0.035em;
  font-weight: normal;
  line-height: 2.7rem;
  margin-bottom: 2rem;
}
.header__mobile--nav {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}
.header__mobile--nav a {
  outline-color: #22356f;
  text-decoration: none;
  color: #22356f;
  line-height: 1.6rem;
  padding-bottom: 0;
  margin-bottom: 1rem;
}
.header__mobile--nav a:last-child {
  margin-bottom: 0;
}
.header__mobile--nav a:hover {
  border-bottom: 1px solid #22356f;
}
.burger-fixed {
  z-index: 100;
  position: fixed;
  top: 5rem;
  right: 4rem;
}
.burger-menu {
  cursor: pointer;
  width: 25px;
  height: 25px;
}
.burger-icon {
  display: block;
  height: 5px;
  width: 100%;
  background-color: #fab63e;
}
.burger-icon::before,
.burger-icon::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: #fab63e;
}
.burger-icon::before {
  top: -1rem;
  left: 0;
}
.burger-icon::after {
  top: 1rem;
  left: 0;
}
.burger-icon.active {
  background-color: transparent;
  border: none;
}
.burger-icon.active::before,
.burger-icon.active::after {
  transform: rotate(0);
  transition: transform .3s ease, top .3s ease;
}
.burger-icon.active::before {
  top: 0;
  transform: rotate(45deg);
  transition: transform .3s ease, top .3s ease;
}
.burger-icon.active::after {
  top: 0;
  transform: rotate(-45deg);
  transition: transform .3s ease, top .3s ease;
}
.overlay-modal-mobile {
  position: absolute;
  z-index: 98;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(98, 208, 223, 0.9);
}
.img {
  max-width: 100%;
  height: auto;
  display: block;
}
.text-center {
  text-align: center;
}
.hidden {
  display: none;
}
.no-scroll {
  overflow: hidden;
}
