.footer__inner {
  display: flex;
  justify-content: center;
}
@media (max-width:1199px) {
  .footer__inner {
    justify-content: center;
    padding-bottom: 2rem;
  }
}
@media (max-width:991px), (max-width:1199px) {
  .footer__inner {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}
@media (max-width:991px) {
  .footer__inner {
    align-items: start;
  }
}
@media (max-width:568px) {
  .footer__inner {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.footer__inner-content div + div {
  margin-left: 8.7rem;
}
@media (max-width:767px) {
  .footer__inner-content div + div {
    margin-left: 0;
  }
}
.footer__inner-content {
  display: flex;
  max-width: 87rem;
  width: 100%;
  padding-top: 9.8rem;
  padding-left: 6.8rem;
  padding-bottom: 3rem;
}
@media (max-width:767px) {
  .footer__inner-content {
    flex-direction: column;
    padding-top: 5rem;
  }
}
@media (max-width:568px) {
  .footer__inner-content {
    padding-top: 3rem;
  }
}
.footer__inner-content--title {
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: -0.006em;
  font-weight: 700;
  color: #22356f;
  text-transform: uppercase;
  margin-bottom: 5.4rem;
}
@media (max-width:767px) {
  .footer__inner-content--title {
    line-height: 1.7rem;
  }
}
@media (max-width:568px) {
  .footer__inner-content--title {
    margin-bottom: 3rem;
  }
}
.footer__inner-content--text {
  font-size: 1.4rem;
  line-height: 2.3rem;
  letter-spacing: -0.006em;
  color: rgba(34, 53, 111, 0.5);
}
.footer__inner-content--text--address {
  margin-bottom: 4.3rem;
}
.footer__inner-content--text--email a {
  text-decoration: none;
  color: #62d0df;
}
.footer__inner-content--text--phone a {
  text-decoration: none;
  color: rgba(34, 53, 111, 0.5);
}
@media (max-width:1199px) {
  .footer__inner-content {
    justify-content: center;
    padding-left: 0;
  }
}
.footer__inner-content_item {
  display: flex;
  flex-direction: column;
  max-width: 17.8rem;
}
@media (max-width:991px) {
  .footer__inner-content_item {
    margin-bottom: 2rem;
  }
  .footer__inner-content_item:last-child {
    margin-bottom: 0;
  }
}
@media (max-width:568px) {
  .footer__inner-content_item {
    flex-direction: column;
  }
}
.footer__inner-photo img {
  display: block;
  object-fit: cover;
  object-position: 50% 50%;
  width: 525px;
  height: 100%;
}
@media (max-width:1199px) {
  .footer__inner-photo {
    display: none;
  }
}
.footer__after-all {
  display: flex;
  background-color: #62d0df;
  height: 8rem;
}
.footer__after-all--copy {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  line-height: 1.1rem;
  letter-spacing: -0.006em;
  color: #ffffff;
  margin: auto 19rem;
}
@media (max-width:1199px) {
  .footer__after-all--copy {
    margin: auto;
  }
}
.footer__after-all--copyright {
  margin-right: .7rem;
}
.footer__after-all--copyright .far {
  color: #ffffff;
  font-size: 11px;
}
