.header__inner {
  position: relative;
  z-index: 1000;
  margin-top: 3.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width:767px) {
  .header__inner {
    display: none;
  }
}
.header__inner--logo {
  font-size: 2.4rem;
  color: #62d0df;
  letter-spacing: -0.035em;
  font-weight: normal;
  line-height: 2.7rem;
}
.header__inner--nav {
  font-size: 1.4rem;
}
.header__inner--nav a {
  outline-color: #22356f;
  text-decoration: none;
  color: #22356f;
  margin-right: 2rem;
  line-height: 1.6rem;
  padding-bottom: .7rem;
}
.header__inner--nav a:last-child {
  margin-right: 0;
}
.header__inner--nav a:hover {
  border-bottom: 1px solid #22356f;
}
